* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

:root {
  --transition: all 0.5s ease;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f2f2f2;
  overflow-x: hidden;
}

.margin {
  margin-top: 20px;
}

.inner {
    width: calc(100% - 2 * 20px);
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
}

.gridrow {
    display: flex;
    column-gap: 40px;
    width: 100%;
    margin: 0px auto;
    row-gap: 40px;
    flex-wrap: wrap;
}

.gridrow.box33 .col {
    width: calc(33.333% - 40px * 2 / 3);
}

.gridrow.box50 .col {
  width: calc(50% - 40px / 2);
}

.gridrow.box33-66 .col1 {
  width: calc(33.333% - 40px / 2);
}

.gridrow.box33-66 .col2 {
  width: calc(66.666% - 40px / 2);
}

@media screen and (max-width: 1024px) {
    .gridrow.box33 .col {
        width: calc(50% - 40px / 2);
    }
    .gridrow.box33-66 .col {
      width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .gridrow.box33 .col {
        width: 100%;
    }
    .gridrow.box50 .col {
      width: 100%;
    }
}

.space-small {
    display: flex;
    margin-bottom: 25px;
}

.space-medium {
  display: flex;
  margin-bottom: 50px;
}

.space-large {
  display: flex;
  margin-bottom: 75px;
}

@media screen and (max-width: 768px) {
  .space-small {
    display: flex;
    margin-bottom: 20px;
}

  .space-medium {
    display: flex;
    margin-bottom: 35px;
  }

  .space-large {
    display: flex;
    margin-bottom: 50px;
  }
}

a {
  text-decoration: none;
}

.gradient
{
  background-image: linear-gradient(135deg, #ff4500, #c29e00 66%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
} 

/*-------------------- UP-TOP --------------- */
/*------------------ Down We Go ---------------- */


/*----------- Banner ------------*/

.banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.banner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(images/anas-alshanti-feXpdV001o4-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: inherit;
  filter: brightness(60%); 
  z-index: -1; 
}

.banner .inner {
  z-index: 1;
  position: relative;
}


.banner-text {
  color: #fff;
}

/*----------- Navigation ------------*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #010101;
  border-radius: 15px;
  margin-top: 25px;
}

.links {
  padding: 30px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.links ul {
  display: flex;
  flex-direction: row;
}

.links ul li {
  list-style: none;
}

.links ul li a {
  font-size: 18px;
  color: #fff;
  position: relative;
  padding: 15px;
  transition: var(--transition);
  width: 100%;
}

.links ul li a::after {
  content: '';
  width: 0;
  height: 2px;
  background-image: linear-gradient(135deg, #ff4500, #c29e00 66%);
  z-index: 999;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: var(--transition);
}

.links ul li a:hover::after {
  width: calc(100% - 30px);
  margin-left: 15px;
}

#open-menu,
#close-menu
{
  color: #fff;
  font-size: 25px;
  display: none;
  cursor: pointer;
}


@media screen and (max-width: 768px) {
  nav {
    padding: 25px;
  }

  .links {
    flex-direction: column; 
    padding: 0;
    width: 100%;
    position: absolute;
    top: 100%; 
    left: 0;
    background-color: #010101;
    transition: all 0.7s ease-out; 
    max-height: 0;
    overflow: hidden;
  }

  #open-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  orange;
    border-radius: 50%;
    width: 45px;
    height: 45px;
  }

  .links.show {
    display: flex;
    border-radius: 15px;
    opacity: 1;
    max-height: 600px;
    overflow: auto;
    padding-bottom: 20px;
  }

  .links ul {
    flex-direction: column;
    text-align: center;
  }

  .links ul li  {
    padding: 20px;
  }

}

/*-------- main-projects ---------*/

.main-projects-background {
  background: linear-gradient(rgba(1, 1, 1, 0.6), rgba(1, 1, 1, 0.6)), url(images/3rdnew.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.main-projects {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10% 0;
}

.swiper {
  width: 100%;
  height: 400px;
  position: relative !important;
}

.swiper-pagination {
  position: absolute;
  bottom: 50px;
  left: 0;
}

.swiper-scrollbar {
  position: absolute !important;
  bottom: -40px !important; 
  left: 0 !important;
}


.main-projects .swiper-slide  {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
}

.main-projects-btn {
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  transition: var(--transition);
  position: relative;
  width: 165px;
  background: linear-gradient(135deg, #cc3700, #a38300 66%);
  font-weight: 500;
}

.main-projects-btn:hover {
  filter: brightness(120%);
}

.material-symbols-outlined {
  margin-right: 5px;
}

.main-projects #one::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 100%), url(images/HGD-Media.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(1.8);
  z-index: -1;
}

video {
  width: 100%;
  height: 100%;
  display: inline-block;
  object-fit: contain;
  overflow-clip-margin: content-box;
  overflow: clip;
  background: #0d0a1a !important;
}

.main-projects .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--swiper-theme-color);
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--swiper-theme-color);
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}

.main-projects .spans {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 20px;
  padding-left: 5px;
}

.main-projects .spans span {
  display: block;
  background: #0c2752;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  padding: 2px 10px;
  border-radius: 20px;
  filter: brightness(110%);
}

.main-projects .name {
  font-size: 35px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #fff;
}

.main-projects .text p {
  font-size: 22px;
  font-size: 100;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .swiper {
    height: 300px;
  }
}

/*----------- Projects ------------*/

.projects .gridrow.box33 .col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    border-radius: 10px;
    transition: var(--transition);
    position: relative;
    box-shadow: 0px 0px 30px rgba(34, 34, 34, 0.05);
  }
  
  .projects .gridrow.box33 .col:hover {
    transform: scale(1.05);
  }

  .projects h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  .projects-info {
    font-size: 18px;
    margin-bottom: 40px;
    width: 80%;
    margin: 0 auto 40px auto;
  }

  .projects .gridrow.box33 .col .img {
    width: 100%;
    height: 50%;
  }
    
  .projects .gridrow.box33 .col .img img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .projects .gridrow.box33 .col1 .img {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  @media (max-width: 1024px) {
    .moshified {
      min-height: 450px;
    }

    .projects .col .img img {
      width: 100%;
      height: 300px;
      object-fit: cover;
    }

    .projects-info {
      width: 100%;
    }
  }
 
  .projects .moshified .img {
    background: url(images/Moshified.png), linear-gradient(to right, black, gray);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.projects .text {
  color: #000;
  padding-top: 15px;
}

.projects .text p {
  font-size: 16px;
  padding: 7px;
  font-weight: 350;
}

.projects .spans {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 10px;
  padding-left: 5px;
}

.projects .spans span {
  display: block;
  background-color: #0c2752;
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  padding: 2px 10px;
  border-radius: 20px;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.projects .col .button {
  padding: 10px 20px 10px 5px;
  position: relative;
  margin: auto 20px 20px 0;
  height: 70px;
}

.projects .col .button i {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 20px;
}

.tooltip {
  visibility: hidden;
  position: absolute;
  right: -18%;
  top: 50%;
  transform: translateX(-50%);
  color: #000;
  border-radius: 5px;
  opacity: 0;
  transition: var(--transition);
  font-size: 16px;
  background-color: #fff;
  padding: 10px;
}



.button:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

/*------------ About ---------*/

.about {
 color: #ffff;
 display: flex;
 flex-direction: column;
 justify-content: center;
 background: url(images/2ndnew.jpg);
 width: 100%;
 height: 100vh;
}

.about-inner {
  max-width: 500px;
}

.about p {
  line-height: 1.3;
}

.about .col.col1 img {
  width: 100%;
  height: 100%;
}

.sub-title {
  font-size: 60px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 20px;
}

.sub-title span {
  color: #ff004f;;
}

.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}

.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-links::after {
  content: '';
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: var(--transition);
}

.tab-links.active-link::after {
  width: 100%;
}

.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}

.tab-contents ul li span {
  color: #b54769;
  font-size: 14px;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
}

@media screen and (max-width: 1024px) {
  .about-inner {
    max-width: 600px;
    margin: 0 auto;
  }
}


 
/*------------ Welcome ---------*/


#welcome {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  text-align: center;
  padding-top: 15%;
}

#welcome h2 {
  display: block;
  margin-bottom: 20px;
  font-size: 25px;
}

#welcome p {
  display: block;
  font-size: 20px;
}


/*-------- FAQs -------*/

.inner.FAQs {
  max-width: 1200px;
}

.FAQs h1 {
  color: #e32505;
  text-align: center;
}

.FAQs .question-item {
  position: relative;
  padding: 10px;
}

.FAQs input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.FAQs label {
  cursor: pointer;
  position: relative;
  display: block;
}

.FAQs input[type="checkbox"]:checked ~ h2 label::before {
  border-left: 8px solid transparent;
  border-top: 8px solid black;
  border-right: 8px solid transparent;
  margin-left: -4px;
  margin-top: -4px;
}


.FAQs input[type="checkbox"]:checked ~ h2 ~ p {
  max-height: 300px;
  margin-bottom: 20px;
  padding: 25px;
  border-bottom: 1px solid #e5e5e5;
}

.FAQs .question-item label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 40px;
  margin-bottom: 0;
   transition: var(--transition);
  border-bottom: 1px solid #e5e5e5;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.3;
}

.FAQs .question-item label i {
  margin-left: 25px;
}

.FAQs p {
  max-height: 0;
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0;
  font-size: 17px;
  color: #504e4e;
  transition: var(--transition);
}

.FAQs .question-item label:hover {
  cursor: pointer;
  border-bottom: 1px solid;
  border-image: linear-gradient(135deg, #ff4500, #c29e00 66%);
  border-image-slice: 1;
}

@media screen and (max-width: 768px) {
  .FAQs .question-item label {
    font-size: 18px;
  }
  
  .FAQs p {
    font-size: 16px;
  }
}



/*-------- Contact -------*/

#contact {
  padding: 15% 10%;
}

.btn {
  border-radius: 10px;
  border: 1px solid #e32505;
  background-color: #fff;
  display: inline-block;
  color: #e32505;
  cursor: pointer;
  padding: 20px 40px;
  font-size: 16px;
  font-weight: 600;
  transition: var(--transition);
}

.btn:hover {
  background-color: #e32505;
  color: #fff;
}

.social-icons {
  margin-bottom: 30px;
}

.contact-links a i {
  color: #e32505;
  margin-right: 15px;
  font-size: 25px;
}

.social-icons a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #ababab;
  display: inline-block;
  transition: var(--transition);
}

.social-icons a:hover {
  color: #e32505;
  transform: translateY(-5px);
}

.download {
  position: relative;
  width: 170px;
  height: 50px;
  background: linear-gradient(135deg, #ff4500, #c29e00 66%);
  color: #fff;
  border-radius: 15px;
  border: none;
  outline: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.7 ease-in-out;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.7s ease-in-out;
}

.download i {
  margin-left: 7px;
}

.download:hover {
  filter: brightness(110%);
}

.download.activebtn {
  font-size: 0;
  width: 50px;
  background: #ededed;
}

.progress-wrapper {
  position: absolute;
  width: 100px;
  height: 100px;
  transform: scale(0);
  transition: 0.7s;
  transition-delay: 0.5s;
}

.download.activebtn .progress-wrapper {
  transform: scale(0.6);
}

.progress-wrapper .btn-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  background: #fff;
  border-radius: 50%;
  z-index: 2;
  transition: 0.5s ease;
  transition-delay: 2s;
}

.download.activebtn .progress-wrapper .btn-inner {
  transform: translate(-50%, -50%) scale(0);
}

.progress-wrapper .bar {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ededed;
  border-radius: 50%;
  clip: rect(0px, 100px, 100px, 50px);
}

.circle .bar .progress {
  position: absolute;
  width: 100%;
  height: 100%;
  background: orange;
  border-radius: 50%;
  clip: rect(0px, 50px, 100px, 0px);
  z-index: 1;
}

.circle .bar.left .progress {
  transition: 1s linear;
  transition-delay: 0.2s;
} 

.download.activebtn .circle .bar.left .progress {
  transform: rotate(180deg);
}

.circle .right {
transform: rotate(180deg);
}

.circle .bar.right .progress {
  transition: 1s linear;
  transition-delay: 1.2s;
} 

.download.activebtn .circle .bar.right .progress {
  transform: rotate(180deg);
}

.progress-wrapper .checkmark {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: 2;
}

.checkmark span {
  position: absolute;
  display: block;
  width: 30px;
  height: 7px;
  background: #fff;
  border-radius: 5px;
  transition: 0.5s;
  transform-origin: left;
}

.checkmark span:first-child {
  top: 45px;
  left: 22px;
  width: 30px;
  transform: rotate(45deg) scaleX(0);
  transition-delay: 2.5s;
}

.download.activebtn .checkmark span:first-child {
  transform: rotate(45deg) scaleX(1);
}

.checkmark span:last-child {
  top: 65px;
  left: 40px;
  width: 50px;
  transform: rotate(-45deg) scaleX(0);
  transition-delay: 3s;
}

.download.activebtn .checkmark span:last-child {
  transform: rotate(-45deg) scaleX(1);
}

form {
  width: 100%;
}

form input {
  width: 100%;
  padding: 15px;
  margin-bottom: 17px;
  outline: none;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
}

textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 17px;
  outline: none;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
}

#contact .col.col1 h1 {
  font-size: 40px;
}

.contact-links {
  display: flex;
  flex-direction: column;
}

.contact-links a {
  color: #000;
  font-size: 16px;
  padding: 15px 15px 15px 0;
}

